{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}


<div class="row justify-content-center my-3">
  <div class="">
    <img class="img-fluid" src="{% static 'portfolio/ProfilePic.jpeg' %}"  >
  </div>
</div>

<div id = "typing" class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <h1 class="hometext font-weight-bold">Hitesh Mourya </h1>
    <h2 class="homeinfo"> B-Tech student enrolled in Acropolis Instiute of Technology and Research</h2>
  </div>
</div>

<h2 class="mt-5 font-weight-bold hometext">Portfolio</h2>
<hr noshade="">
<div class="projectdiv row">
  {% for project in projects %}
  <div class="col-lg-4 col-md-6">

    {% if project.url %}
    <a href="{{ project.url }}">
      <img src="{{ project.image.url }}" class="img-fluid mb-2">
    </a>
    {% else %}

    <img src="{{ project.image.url }}" class="img-fluid mb-2">
    {% endif %}
    <h3 class="hometext font-weight-bold">{{ project.title }}</h3>
    <p  class="homeinfo">{{ project.description }}</p>

  </div>
  {% endfor %}
</div>

{% endblock %}
