{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<style>
  .circular_image {
  float: left;
  margin-left: auto;
  margin-right: auto;
  width: 450px;;
  height: 500px;
  border-radius: 30%;
  overflow: hidden;
  background-color: blue;
}
</style>
<div class="row justify-content-center my-3">
  <div class="col-5">
    <img src="{% static 'portfolio/MyPic.jpeg' %}" class="circular_image" >
  </div>
</div>

<div id = "typing" class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <h1 id="hometext" class="font-weight-bold">Hitesh Mourya </h1>
    <h2> B-Tech student enrolled in Acropolis Instiute of Technology and Research</h2>
  </div>
</div>

<h2 class="mt-5">Portfolio</h2>
<hr>
<div class="row">
  {% for project in projects %}
  <div class="col-lg-4 col-md-6">

    {% if project.url %}
    <a href="{{ project.url }}">
      <img src="{{ project.image.url }}" class="img-fluid mb-2">
    </a>
    {% else %}

    <img src="{{ project.image.url }}" class="img-fluid mb-2">
    {% endif %}
    <h3>{{ project.title }}</h3>
    <p>{{ project.description }}</p>

  </div>
  {% endfor %}
</div>

{% endblock %}
